/**
 * @since:2015-2-9
 * @author:u.ken.li@qq.com 
 *
 */

body {
	-webkit-text-size-adjust: none;
	margin: 0 auto;
	padding: 0;
}

#title {
	line-height: 20px;
}

body,
button,
input,
select,
textarea {
	font: 14px/1.5 \5fae\8f6f\96c5\9ed1, \5b8b\4f53, Arial, Verdana
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-size: 100%;
	font-weight: normal
}

q:before,
q:after {
	content: ''
}

address,
cite,
dfn,
em,
var {
	font-style: normal
}

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace
}

a:active,
a:hover,
a:after,
a:visited,
a:link {
	box-shadow: none;
}

small {
	font-size: 11px
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000;
	display: none
}

img {
	border: 0
}

input,
button,
textarea,
select {
	vertical-align: middle;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}

textarea {
	overflow: auto
}

a {
	text-decoration: none
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

.fl {
	float: left
}

.fr {
	float: right
}

.pa {
	position: absolute
}

.tal {
	text-align: left
}

.tar {
	text-align: right
}

.tac {
	text-align: center
}

.pr {
	position: relative
}

.hide {
	display: none
}

:focus {
	outline: 0 none
}

a,
.hand {
	cursor: pointer
}

.vam {
	vertical-align: middle
}

html {
	-ms-touch-action: none;
	-webkit-text-size-adjust: none
}

body {
	background: #f6f6f6;
	color: #555
}

a,
input,
label,
dl,
time,
.switchOn,
.switchOff,
.switchAbcOn,
.switchAbcOff {
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	color: #555
}

.fs1 {
	font-size: 16px
}

.fs2 {
	font-size: 18px
}

.fs3 {
	font-size: 20px
}

.fwb {
	font-weight: 700
}

.c1 {
	color: #F64349
}

.c2 {
	color: #1CB9BF
}

.bor-cor {
	border: 1px solid #C0C0C0;
}

.fn-clear {
	zoom: 1
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/* Button */

.btnBack,
.btnHl,
.btnHr {
	position: absolute;
	top: 0;
	height: 43px;
	overflow: hidden;
	font-size: 14px;
	color: #6C8A96;
}

.btnBack {
	left: 0;
	padding-left: 20px;
	background: url(../img/ic_back.png) 6px 50% no-repeat;
	background-size: 10px 17px
}

.btnHl {
	left: 0;
	padding-left: 10px
}

.btnHr {
	right: 0;
	padding-right: 10px
}

.btn {
	display: block;
	padding: 10px 0;
	margin: 20px 15px 0px 15px;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	background: #fa5c5b;
	color: #fff
}

.btn:hover {
	background: #FD2C0A;
	color: #FFFFFF;
}

.btnGet {
	display: block;
	float: right;
	width: 28%;
	height: 40px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	vertical-align: middle;
	background-color: #fa5c5b;
	color: white;
}

.disabled {
	background: #ccc;
	color: #fff
}


/*icons*/

.ic_activeCenter,
.ic_msgCenter,
.ic_helpCenter,
.ic_forwardFriends,
.ic_feedback,
.ic_follow,
.ic_praise,
.ic_account,
.ic_realName,
.ic_ID,
.ic_bankCard,
.ic_lock,
.ic_openGesture,
.ic_aboutt,
.ic_ver,
.ic_about,
.ic_blank {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/ic.png) no-repeat;
	background-size: cover
}

.ic_blank {
	background-position: -2000px -2000px
}

.ic_msgCenter {
	background-position: -20px 0
}

.ic_helpCenter {
	background-position: -40px 0
}

.ic_ver {
	background-position: -60px 0
}

.ic_about {
	background-position: -80px 0
}

.ic_aboutt {
	background-position: -100px 0
}

.ic_account {
	background-position: -120px 0
}

.ic_ID {
	background-position: -140px 0
}

.ic_realName {
	background-position: -160px 0
}

.ic_bankCard {
	background-position: -180px 0
}

.ic_lock {
	background-position: -200px 0
}

.ic_openGesture {
	background-position: -220px 0
}

.ic_follow {
	background-position: -380px 0
}

.ic_forwardFriends {
	background-position: -400px 0
}

.ic_praise {
	background-position: -420px 0
}

.ic_feedback {
	background-position: -440px 0
}


/* Panel */

.sBox h2 {
	padding: 15px 0 0 15px;
	text-align: left;
	font-size: 18px
}

.sBox i {
	float: right;
	padding: 23px 15px 0 0;
	font-style: normal;
	font-size: 12px
}

.sBox p {
	padding: 30px 0 0;
	text-align: center;
	font-size: 45px
}

.sBox sup,
.sBox sub {
	font-size: 12px
}

.status {
	display: block;
	width: 35px;
	height: 34px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff
}

.status i {
	display: block;
	margin: 6px auto auto 4px;
	font-style: normal;
	font-size: 10px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg)
}

.s0 {
	background-image: url(../img/sale_gray_icon.png)
}

.s1 {
	background-image: url(../img/sale_red_icon.png)
}

.s2 {
	background-image: url(../img/sale_blue_icon.png)
}

.sx {
	background-image: url(../img/sale_green_icon.png)
}

.inc,
.inc_ {
	font-weight: 600;
	color: #F64349
}

.inc_ {
	color: green
}

.hotPro,
.cehn {
	position: relative;
	text-align: center;
	font-size: 12px
}

.cehn h2 {
	padding: 10px 0 0 0;
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.hotPro p {
	margin: 2px auto
}

.cehn .status {
	position: absolute;
	top: 15px;
	right: 10px
}

.hotPro .btn {
	margin-top: 10px
}

.progress {
	width: 150px;
	height: 150px;
	line-height: 140px;
	margin: 0px auto;
	text-align: center;
	font-size: 18px;
}

.progress i {
	font-size: 50px;
	font-style: normal;
	color: #F64349
}

.list ul {
	background: #fff;
	list-style: none
}

.list li {
	position: relative;
}

.soldout li {
	color: #888;
	margin: 10px 0 0 0;
}

.list h2 {
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 7px;
}

.list h3 {
	padding: 5px 0 1px 15px;
	border-bottom: 1px solid #e6e6e6;
}

.list .progress {
	float: right;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: 15px 20px 10px 0px;
	border-width: 2px;
	border-radius: 80px;
	font-size: 12px;
}

.soldout .progress {
	border-color: #e6e6e6
}

.list .progress i {
	font-size: 9px;
}

.list p {
	display: inline-block;
	font-size: 12px
}

.moneyFund p:nth-of-type(2) {
	width: 35%
}

.moneyFund p:nth-of-type(3) {
	float: right;
	text-align: right
}

.list em,
.list time {
	display: block;
	font-size: 12px
}

.list li p:first-of-type em {
	font-size: 14px;
	font-weight: 600
}

.list .status {
	position: absolute;
	top: 5px;
	right: 10px
}

.list sup {
	position: absolute;
	top: 13px;
	left: 160px
}

.list q {
	color: #111
}

.mybank p:first-of-type {
	width: 32%
}

.mybank p {
	width: 32%;
}

.soldout .status i {
	margin: 8px auto auto 10px
}

.income {
	height: 130px;
	padding: 20px;
	margin: 0px;
	background: #F54248;
	color: #fff
}

.income dd {
	font-size: 50px
}

.income-total {
	padding: 10px 20px;
	margin: 0px;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
	color: #555
}

.income-total dd {
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
}

.income-item {
	margin: 10px auto;
	border: solid #e6e6e6;
	border-width: 1px 0;
	background: #fff
}

.income-item dl {
	margin: 0px;
}

.income-item dt {
	padding: 8px 20px;
	border-bottom: 1px solid #e6e6e6;
	margin: 0px;
}

.income-item dt em {
	float: right
}

.income-item dd {
	margin: 0;
	padding: 0;
}

.income-item sub {
	display: block;
	padding: 0px;
	font-size: 10px;
	color: #999;
	height: 7px;
}

.income-item ul {
	padding: 10px 10px;
	list-style: none
}

.income-item ul li {
	padding: 5px 10px;
	font-size: 16px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB4SURBVDhPzcxZCoAwEARR738DT5S5lVLY4pZlksmHBQ0Kk7f8upTSqs94YGa26TfWiU0B71gYfGMhMIcNgyWM6cRfDWM689XCmE7beTCm83pejOlJuR6M6Vm+Xozp6bcRjOn5s1GMibiKYEzMURRjouZgbCpmZtsOIZdy5j2B6PEAAAAASUVORK5CYII=") 98% 98% no-repeat;
	background-size: 10px
}

.income-item ul li:first-child {
	float: right;
	width: 49%;
	border-left: 1px solid #e6e6e6
}

.income-item ul li:last-child {
	float: left;
	width: 49%
}

.income dt,
.income-total dt {
	font-size: 16px;
}

.grp,
.grp_ {
	margin-top: 10px;
	border-top: 1px solid #e6e6e6;
	background: #fff
}

.grp_ em,
.grp em {
	float: right;
	display: inline-block;
	margin: 3px 0px 0 0;
	vertical-align: middle;
	font-size: 12px;
}

.grp .item,
.grp_ .item {
	padding: 10px 30px 10px 20px;
	font-size: 16px;
	border-bottom: 1px solid #e6e6e6;
	background: url(../img/ic_right_arraw.png) 96% 50% no-repeat;
	background-size: 8px auto
}

.grp_ .item {
	background-image: none
}

.grp i,
.grp_ i {
	display: block;
	margin-top: -5px;
	font-size: 10px
}

.grp s,
.grp_ s {
	margin-right: 10px
}

.grp span {
	display: inline-block;
	vertical-align: middle
}

.grp_ .switchOn,
.grp_ .switchOff {
	float: right;
	margin: -2px -10px auto auto
}

.grp_ span i {
	margin-top: auto
}

.changePwd {
	position: relative
}

.changePwd s.ic_lock {
	position: absolute;
	top: 27px;
	left: 12px
}

.changePwd .item {
	padding-left: 6px
}

.changePwd>div {
	margin-left: 34px;
	border-left: 1px solid #e6e6e6
}

.detail {
	padding: 10px;
	margin: 10px 15px auto;
	border-radius: 5px;
	background: #fff
}

.detail h2,
.detail dt {
	font-weight: 600
}

.detail ul {
	list-style: none
}

.detail ul,
.detail ol {
	font-size: 12px;
	color: #999
}

.detail ol {
	margin-left: 15px
}

.detail dl {
	margin: 10px 0 0 0;
	padding: 5px 0 5px 5px;
	border-top: 1px solid #e6e6e6;
	background: url(../img/fund_about_save_icon.png) 5px 18px no-repeat;
	background-size: 17px
}

.detail img {
	max-width: 100%
}

.tips,
.little-tip {
	padding: 15px 15px 5px;
	line-height: 18px;
	font-size: 13px
}

.little-tip p {
	padding-bottom: 5px
}

.little-tip p:last-child {
	padding-bottom: 0
}

.little-tip a {
	text-decoration: underline;
	color: #333
}

.msgLst h2 {
	font-weight: 700
}

.msgLst .item {
	position: relative
}

.msgLst time {
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 12px;
	color: #CCCCCC
}

.msgLst p {
	font-size: 12px;
	color: #999
}

.form .item {
	margin: 15px 15px 0;
	width: 90%;
}

.uid {
	padding: 20px 0 0;
	text-align: center;
	font-size: 20px;
	font-weight: 700
}

.helpWay {
	margin: 15px 15px auto;
	border: solid #e6e6e6;
	border-width: 1px 1px 0;
	background: #fff
}

.helpWay .item {
	padding: 10px 50px 10px 15px;
	border-bottom: 1px solid #e6e6e6;
	background-repeat: no-repeat;
	background-position: 98% 50%;
	background-size: auto 30px
}

.helpWay .tel {
	background-image: url(../img/tel.png);
	background-position: 100% 50%;
	background-size: auto 100%
}

.weixin {
	background-image: url(../img/weixin.png)
}

.qq {
	background-image: url(../img/qq.png)
}

.sina {
	background-image: url(../img/sina.png)
}

.helpLst {
	margin: 15px 15px auto
}

.helpLst dl {
	margin-top: 15px;
	padding: 10px 15px;
	border: 1px solid #e6e6e6;
	font-size: 12px;
	background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB4SURBVDhPrczZDYAwDARRUlz6oB6KDmjEIq7c9koj5cN5i+fStu562geWYvABL8wFfGJm8IuZwBw2DZYw0kn/ahjprG8tjHTaXg9GOq+vFyN9KW8EI33LbxQjff1vBiN9f28WIxH3LBiJOWfFSJQPRq4YuWIphv0AUfrn1mvh2HYAAAAASUVORK5CYII=") 99% 97% no-repeat;
	background-size: 10px
}

.helpLst dt {
	font-size: 16px
}

.helpLst dd {
	padding: 8px 0;
	color: #999
}

.dealsLst .item {
	position: relative;
	padding: 10px 15px;
	margin-top: 10px;
	border: solid #e6e6e6;
	border-width: 1px 0;
	background: #fff
}

.dealsLst time {
	font-size: 12px
}

.dealsLst p {
	position: absolute;
	top: 10px;
	right: 15px;
	text-align: right
}

.dealsLst sub {
	display: block;
	font-size: 12px
}

.dealsLst span {
	position: absolute;
	top: 20px;
	left: 35%;
	width: 160px;
	text-align: center
}

.financing {
	padding: 15px;
	background: #fff;
	color: #999
}

.financing-progress {
	height: 15px;
	margin: 5px auto;
	background: #EBEBEB
}

.financing-progress i {
	float: left;
	display: block;
	height: 100%;
	background: #FD2C0A
}

.proportion,
.limit {
	list-style: none
}

.proportion em {
	color: #f64349
}

.limitt li {
	width: 100%;
}

.income_item {
	padding: 10px 0
}

.income_item li,
.limit li {
	float: left;
	width: 50%;
	font-size: 16px;
	list-style: none
}

.income_item li:last-child {
	text-align: right
}

.income_item span {
	display: block;
	font-size: 30px;
	font-weight: normal
}

.amount {
	text-align: center
}

.amount {
	font-size: 40px
}

.limit {
	font-size: 14px
}

.ic_cycle,
.ic_car,
.ic_guarantee,
.ic_calculator {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	;
	vertical-align: -2px;
	background: url(../img/icon_limit_xian.png) no-repeat;
	background-size: cover
}

.ic_car {
	background-image: url(../img/icon_limit_car.png)
}

.ic_guarantee {
	background-image: url(../img/icon_limit_guarantee.png)
}

.ic_calculator {
	background-image: url(../img/fund_about_save_icon.png)
}

.intro {
	margin: 10px auto;
	line-height: 18px;
	border-top: 1px solid #e6e6e6
}

.intro p {
	margin: 5px auto;
	padding: 5px 0;
	border-bottom: 1px solid #e6e6e6
}

.intro p:first-child {
	color: #666
}


/**/

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
	background: #F54248;
	height: 3px;
}

.content .footer {
	bottom: 45px;
}

.mui-card {
	margin: 10px 10px 0 10px;
}

.mui-input-row {
	margin: 10px auto;
}

.mui-input-row label {
	width: 37%;
	text-align: right;
	padding: 10px 0;
}

.mui-input-row label.lab-w {
	width: 28%;
}

.mui-input-row label.lab-ww {
	width: 50%;
}

.mui-input-row label.reg {
	width: 30%;
}

.mui-input-row label.codee {
	text-align: left;
	line-height: 5px;
	margin-left: 10px;
	width: 100px;
	float: left;
}

.yinhk label {
	width: 28%;
}

.yinhk .mui-input-row input.text-input {
	border: 1px solid #CCCCCC;
	width: 63%;
	margin: 0 20px 0 0;
	padding: 0 10px;
}

.mui-mar-bot {
	margin-bottom: 20px;
	line-height: 35px;
	text-align: center;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	float: left;
}

.szss {
	display: none;
}

.mui-pagination>li.mui-active>a,
.mui-pagination>li.mui-active>a:active,
.mui-pagination>li.mui-active>span,
.mui-pagination>li.mui-active>span:active,
.mui-pagination>li:active>a,
.mui-pagination>li:active>a:active,
.mui-pagination>li:active>span,
.mui-pagination>li:active>span:active {
	background-color: #F64349;
	border-color: #F64349;
}

.mui-pagination>li>a,
.mui-pagination>li>span {
	color: #F64349;
}

.content-title-bg {
	background: #FFFFFF scroll no-repeat center center;
	line-height: 20px;
	padding: 30px;
	margin: auto;
	filter: Alpha(opacity=60);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.investcon .content-title-bg {
	padding: 0px;
}

.zt_butn {
	bottom: 0;
	position: fixed;
	z-index: 999;
	width: 100%;
	background: #f00;
	display: block;
	height: 50px;
	left: 0;
}

.detail {
	padding: 10px;
	margin: 10px 15px auto;
	border-radius: 5px;
	background: #fff;
}

.financing {
	padding: 15px;
	background: #fff;
	color: #999;
}

.amount {
	font-size: 40px;
	padding: 40px 0;
}

.financing-progress {
	height: 15px;
	margin: 5px auto;
	background: #EBEBEB;
}

.financing-progress i {
	float: left;
	display: block;
	height: 100%;
	background: #F64349;
}

.detail ul,
.detail ol {
	font-size: 12px;
	color: #999;
	margin: 0px;
	padding: 5px 0px;
}

.income_item1 li {
	width: 100%;
	font-size: 16px;
	list-style: none;
	line-height: 30px;
}

.income_item li,
.limit li {
	float: left;
	width: 50%;
	font-size: 16px;
	list-style: none;
	text-align: right;
}

.income_item li:first-child,
.limit li:first-child {
	text-align: left;
}

.income_item span {
	display: block;
	font-size: 30px;
	font-weight: normal;
	line-height: 50px;
}

.investcon {
	margin: 0 0 0px 0;
}

.product-btn {
	position: fixed;
	bottom: 50px;
	height: 45px;
	background: #fff;
	width: 100%;
	z-index: 99999;
}

.tb-list {
	margin: 0px;
	padding: 0px;
}

.tb-list li {
	width: 29%;
	float: left;
	text-align: center;
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 35px;
}

.tb-list li.tb-list-w {
	width: 41%;
}

.tb-list li.list-title {
	font-weight: bold;
}

.mui-input-row em {
	font-size: 12px;
	color: #C8C7CC;
}

.bankc-show {
	display: none;
}

.mui-icon-close:hover {
	color: #FF5053;
}

.mui-table-view-cell>a:not(.mui-btn) {
	padding: 10px;
}

.bold-t {
	font-weight: bold;
	color: #333333;
}

.mui-content-padded {
	margin-bottom: 50px;
}

.pz-list {
	margin: 0px;
	padding: 0px;
}

.pz-list li {
	width: 33%;
	float: left;
	list-style: none;
	text-align: center;
}


/*list*/

.submenu {
	border-bottom: 2px solid #ccc;
	height: 45px
}

.submenu a {
	line-height: 42px;
	padding: 0;
	width: 25%;
	display: block;
	float: left;
	text-align: center;
}

.submenu a.cur {
	border-bottom: 3px solid #f00;
	padding: 0 0 -5px 0;
}


/**/

header {
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
	text-align: center;
	background: #FEFEFE;
	color: #59698a
}

.tf {
	position: relative;
	margin-bottom: -44px
}

header .sel_m {
	width: auto;
	padding-right: 15px;
	height: auto;
	line-height: normal;
	border: 0;
	background: url(../img/trade_detail_list_down.png) 100% 50% no-repeat;
	background-size: 11px;
	color: #6C8A96
}

.content {
	padding-top: 0px;
	overflow: hidden;
	padding-bottom: 20px;
}

.cf {
	padding-bottom: 54px;
	padding-left: 0px;
}


/*more*/

.red-bg {
	padding: 10px;
	margin: 0px;
	background: #F54248;
	color: #fff;
	height: 150px;
}

.income1 {
	float: left;
	width: 65%;
}

.red-bg dl {
	margin: 10px 0;
	color: #ffffff;
	overflow: hidden;
}

.income1-total {
	float: left;
	width: 33%;
	padding: 0 0 0 10px;
}

.income1-total dd {
	margin: 0 0 0 10px;
	line-height: 20px;
	text-align: right;
	color: #ffffff;
}

.income1-total dt {
	line-height: 20px;
	font-size: 12px;
}

.income1 dt {
	font-size: 12px;
	line-height: 50px;
}

.income1 dd {
	font-size: 42px;
	line-height: 50px;
	padding: 0px;
	margin: 0px 10px 0 0px;
	text-align: right;
}

.income-item1 {
	background: #F54248;
	margin: 0px 0 0px 0;
	height: 40px;
	padding: 0 10px;
}

.income-item1 dl {
	border-top: 1px solid #fa9699;
	width: 100%;
}

.income-item1 dl,
.income-item1 dt,
.income-item1 dd {
	margin: 0px;
	padding: 0px;
	line-height: 40px;
	float: left;
}

.income-item1 dt {
	font-weight: bold;
	color: #FFFFFF;
	padding: 0 0 0 5px;
	font-size: 16px;
}

.income-item1 dd {
	margin: 5px 10px 0 0;
	width: 30px;
	height: 20px;
}

.income-item1 dd span {
	font-size: 28px;
	color: #737272;
}

.income-item1 dd.login-out {
	margin: 0px 0px 0 0;
	width: 45px;
	height: 20px;
	float: right;
}

.income-item1 dd.login-out a {
	color: #fff;
	line-height: 20px;
}

.income-item1 dd.sz {
	float: right;
	width: 80px;
	background: url(../img/mytb.png) scroll no-repeat -210px 0px;
}

.income-item1 dd span.nub1 {
	color: #fff;
}

.grpp,
.grpp ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.grpp ul li {
	width: 33.3%;
	float: left;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #efeff0;
	border-left: 1px solid #efeff0;
	list-style: none;
	min-height: 120px;
}

.grpp ul li.con-right {
	border-top: 1px solid #efeff0;
	border-right: 1px solid #efeff0;
}

.grpp ul li.con-down {
	border-bottom: 1px solid #efeff0;
}


/*.grpp ul li:hover{ border: 1px solid #83a5ff;}*/

.grpp ul {
	margin: 0px;
}

.grpp ul li p {
	text-align: center;
	margin: 0 auto;
	color: #555;
}

.grpp ul li span {
	font-size: 50px;
	color: #e22a2b;
	width: 100%;
	display: block;
	text-align: center;
	margin: 20px 0 0 0;
}

.grpp ul li span.huise {
	color: #ccc;
}

.grpp ul li span.lanse {
	color: #357fc2;
}

.grpp ul li span.hongse {
	color: #ccc;
}


/*input*/

.condiv .connerbox {
	margin: 20px 20px;
}

.condiv .connerbox dd {
	padding: 0px;
	margin: 0px;
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	background: #dd524d;
	border: 1px solid #dd524d;
}

#province,
#city {
	background: #c8c7cc url(../img/trade_detail_list_down.png) no-repeat scroll right center;
	width: 30%;
	margin: 0 10px 0 0;
	padding: 8px 5px;
	font-size: 14px;
}

#bank {
	background: #c8c7cc url(../img/trade_detail_list_down.png) no-repeat scroll right center;
	width: 63%;
	margin: 0 20px 0 0;
	padding: 8px 10px;
	font-size: 14px;
}

#PB_Page_Select {
	width: auto;
	margin: 0px;
	padding: 0px;
}


/*login*/

.new-chk2 {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	background: url(../images/icon_chk.png) 0 0 no-repeat;
	background-size: 18px 18px;
	vertical-align: middle;
}

.new-chk2.on {
	background: url(../images/icon_chk2.png) 0 0 no-repeat;
	background-size: 18px 18px;
}

.login-bz {
	width: 100%;
	border-bottom: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
}

.bz {
	width: 50%;
	height: 60px;
	float: left;
	text-align: center;
	padding: 10px 0 0 0;
}

.bz-pw {
	border-left: 1px dashed #ccc;
}

.bz span {
	width: 100%;
}


/*list*/

.list-page {
	padding: 5px;
	text-align: center;
}

.mui-table-view-cell:after {
	left: 0
}

.mui-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	background-color: rgba(0, 0, 0, .3);
}

.mui-popover .mui-table-view {
	z-index: 999;
}

.qieren h3 {
	text-align: center;
	font-size: 18px;
}


/*mypz*/

.mypz-bg {
	background: url(../img/peitu.png) no-repeat scroll center center;
	width: 100%;
	height: 190px;
}

.pz-cc ul {
	margin: 0px;
	padding: 0px;
}

.pz-card {
	width: 44%;
	float: left;
	margin: 20px 0 0 4%;
	padding: 0px;
	height: 150px;
}

.pz-card p {
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
}

.pz-card p.pz1 {
	background: url(../img/peizi.png) scroll no-repeat 0px 0px;
	width: 70px;
	height: 70px;
	margin-top: 30px;
}

.pz-card p.pz2 {
	background: url(../img/peizi.png) scroll no-repeat -153px 0px;
	width: 70px;
	height: 70px;
	margin-top: 30px;
}

.pz-card p.pz3 {
	background: url(../img/peizi.png) scroll no-repeat 0px -95px;
	width: 70px;
	height: 70px;
	margin-top: 30px;
}

.pz-card p.pz4 {
	background: url(../img/peizi.png) scroll no-repeat -153px -95px;
	width: 70px;
	height: 70px;
	margin-top: 30px;
}

.pzlist,
.pzlist-title,
.pzlist-con,
.pz-con,
.pz-ti {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.pzlist-title li {
	width: 33.3%;
	float: left;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #e6e6e6;
	line-height: 45px;
	background: #e6e6e6;
}

.pzlist-con li {
	width: 33.3%;
	float: left;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	line-height: 45px;
}

.pzlist-title li.aa {
	border-right: 1px solid #fff;
}

.pzlist-con li.aa {
	border-right: 1px solid #e6e6e6;
}

.pz-con li {
	width: 100%;
}

.pz-con {
	padding: 0 20px;
}

.pz-con li h2 {
	line-height: 40px;
	font-weight: bold;
}

.pz-con li .pz-ti li {
	font-size: 12px;
	line-height: 20px;
	color: #999;
	width: 100%;
	float: left;
}

.pz-con li .pz-ti li.bb {
	border-top: 1px solid #e6e6e6;
	font-size: 14px;
	color: #000;
	line-height: 40px;
}


/*zhucexiayibu*/

.mui-input-row input.text-input {
	border: 1px solid #CCCCCC;
	width: 50%;
	margin: 0 20px 0 0;
	padding: 0 10px;
}

.mui-table-view li a span {
	font-size: 40px;
	color: #dd524d;
	display: block;
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.mui-table-view li a {
	line-height: 50px;
}

.mui-popover .mui-table-view li a {
	line-height: 30px;
}

.mui-table-view-chevron li {
	line-height: 30px;
}


/*Բ*/

.circle {
	width: 78px;
	height: 78px;
	position: relative;
	border-radius: 50%;
	background-color: rgb(120, 180, 97);
	margin: 0px;
}

.pie_left,
.pie_right {
	width: 80px;
	height: 80px;
	position: absolute;
	top: -1px;
	left: -1px;
}

.left,
.right {
	display: block;
	width: 80px;
	height: 80px;
	background: rgb(240, 240, 240);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}


/* .left{
                    transition: all 0.5s linear 0.8s;
                    -moz-transition: all 0.5s linear 0.8s;
                    -webkit-transition: all 0.5s linear 0.8s;
                    -o-transition: all 0.5s linear 0.8s;
                    
                }
                .right{
                    transition: all 0.8s linear;
                    -moz-transition: all 0.8s linear;
                    -webkit-transition: all 0.8s linear;
                    -o-transition: all 0.8s linear;
                }*/

.pie_right,
.right {
	clip: rect(0, auto, auto, 40px);
}

.pie_left,
.left {
	clip: rect(0, 40px, auto, 0);
}

.mask {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 72px;
	font-size: 16px;
}


/*�ֿ�ȯ*/

.pp-tab-c {
	position: relative;
	padding: 20px;
	display: block;
}

.rate-coupon-list {
	color: #fff;
}

.rate-coupon-list .cash-coupon-type {
	background: #fbc85d;
}

.rate-coupon-list .rate-coupon-item {
	position: relative;
	width: 100%;
	height: 140px;
	margin-right: 6px;
	margin-bottom: 20px;
	font-size: 12px;
	list-style: none;
}

.rate-coupon-list .coupon-item-l {
	float: left;
	width: 66%;
	height: 140px;
	padding-left: 10px;
}

.rate-coupon-list .rate-coupon-item .item-hd {
	position: relative;
	padding-top: 28px;
}

.rate-coupon-list .rate-coupon-item .v {
	font-size: 36px;
	line-height: 52px;
	font-weight: 700;
	margin-bottom: 5px;
}

.rate-coupon-list .coupon-item-r {
	float: right;
	width: 30%;
	height: 140px;
	position: relative;
	background: url(../images/opacity_3af7801.png) no-repeat;
}

.rate-coupon-list .rate-coupon-item .btn-link {
	top: 46px;
	right: 16%;
	padding: 6px 13px;
	margin: 0px;
}

.rate-coupon-list .rate-coupon-item .btn {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	border: 1px solid;
	text-decoration: none;
	position: absolute;
	vertical-align: middle;
	border-radius: 3px;
	display: inline-block;
}

.rate-coupon-list .coupon-item-note {
	position: absolute;
	top: 109px;
	right: 10px;
	font-size: 12px;
	cursor: pointer;
}

.rate-coupon-list .rate-coupon-item .note-hover {
	position: absolute;
	top: 13px;
	left: 0;
	padding: 0 30px;
	font-size: 12px;
	display: none;
	width: 260px;
	background: #fbc85d;
}

.m-b5,
.m-tb5 {
	margin-bottom: 5px;
}

.rate-coupon-list .rate-coupon-item .note-hover .btn {
	top: 97px;
	right: 5px;
	font-size: 12px;
	padding: 2px 5px;
}

.rate-coupon-list .has-expired {
	background: #d7d7d7;
}

.rate-coupon-list .has-use {
	background: #40abe1;
}

.rate-coupon-list .rate-coupon-item .has-use-note2 {
	text-align: center;
	line-height: 140px;
	font-size: 14px;
}

.dk,
#mod_money {
	display: none;
}

.dk-li {
	width: 150px;
	height: 50px;
	background: #fbc85d;
	padding: 10px;
	color: #fff;
	font-size: 9px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.dk-li .v {
	font-weight: bolder;
	font-size: 14px;
}

.dk-li .dk-l {
	float: left;
	width: 88%;
}

.dk-li .dk-r {
	float: right;
	width: 10%;
	font-size: 14px;
}

.dk li.on {
	border: 1px solid #f00;
	background-image: url(../images/gg.gif);
	background-repeat: no-repeat;
	background-position: 255px 50px;
}

.user_main_title1 {
	margin-top: 20px;
	text-align: center;
}

.user_main_title1 a {
	width: 25%;
	padding: 10px 2%;
	border: 1px solid #ccc;
	color: #666;
}

.user_main_title1 a.on {
	background: #fbc85d;
	border: 1px solid #fbc85d;
	color: #fff;
}


/**/

.index_za {
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.index_new {
	list-style: none;
	/*height: 10px;*/
	/*height: 50px;*/
	/*background: #fff;*/
	/*padding-top: 2px;*/
	margin-top: 10px;
}

.index_new ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.index_new ul li {
	box-sizing: border-box;
	background: #fff;
	line-height: 50px;
}

.index_gg {
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
}

.index_gg ul li {
	line-height: 30px;
}

.index_xsbz {
	/*height: 63px;*/
}

.index_xsbz ul{
	margin-left: 5px;
}
.index_xsbz ul li {
	box-sizing: border-box;
	width: 47%;
	float: left;
	text-align: center;
	line-height: 15px;
	margin: 4px;
	font-size: 18px;
	padding: 13px 6px;
	border-radius: 6px;
}

.index_xsbz ul li:first-child {
	/*border-right: 1px solid #ddd;*/
}

.index_xsbz ul li label {
	width: 33px;
	height: 38px;
	float: left;
	margin-left: 6px;
}

.index_xsbz ul li p {
	text-align: left;
	font-size: 16px;
	margin-left: 6px;
	color: #000000;
}

.index_xsbz ul li p.bei {
	font-size: 12px;
	color: #888;
	line-height: 10px;
	margin-top: 10px;
	/*margin-bottom: 10px;*/
}

.yqyj_left {
	/*overflow: hidden;*/
	float: left;
	width: 115px;
}

.yqyj_box {
	width: 157px;
	margin: 0 auto;
	/*overflow: hidden;*/
}

.index_sjtj {
	font-size: 16px;
	background: #fff;
	height: auto;
	width: 100%;
	line-height: 35px;
	background: url(../images/pp_bg.jpg);
}

.index_sjtj ul li {
	line-height: 35px;
}

.index_sjtj ul li label {
	width: 35%;
	display: block;
	float: left;
	text-align: right;
	font-size: 14px;
}

.index_sjtj ul li span {
	color: #FA5C5B;
	display: block;
	float: left;
	width: 55%;
}

.index_list {
	height: auto;
	margin-top: 10px;
}

.index_list ul {
	background: none;
}

.index_list ul li {
	background: #fff;
	margin-bottom: 1px;
}

.index_list ul li a.tender_bnt {
	width: 80%;
	margin: 20px auto 0 auto;
	height: 38px;
	line-height: 17px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	background: #FA5C5B;
}

.index_list ul li a.tender_bnt:hover {
	border: 1px solid #fff;
	background: #fff;
	box-shadow: 0 #fff;
}

.index_sjtj:after {
	position: absolute;
	right: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.2);
	background-color: #c8c7cc;
	top: -1px;
}

.mui-table-view:before {
	position: absolute;
	right: 0;
	left: 0;
	height: 0px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
	top: -1px;
}

.index_lb {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 5px;
}

.qieren a.sel {
	width: 30%;
	display: block;
	float: left;
	margin: 0px 10%;
}

.qieren a.sel_on {
	background: #d44944;
	color: #fff;
}

.dk {
	list-style: none
}

.mark {
	position: fixed;
	background: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	z-index: 3;
}

.mark1 {
	position: fixed;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	z-index: 4;
}

.login_btn {
	background: #FE4A33;
	margin: 75% auto;
	width: 150px;
	display: block;
	height: 50px;
	border-radius: 5px;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	z-index: 5;
}

.load_pic {
	position: fixed;
	top: 50%;
	width: 100%;
	text-align: center;
	display: block;
}


/*首页改*/