<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable = no">
		<title>金刚金服</title>
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Site-Enter" content="blendTrans(Duration=0.5)" />
		<link rel="stylesheet" href="demo-files/demo.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="css/fonts.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="css/mui.min.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="css/css.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="css/ymkj.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" type="text/css" href="css/jgjf.css" media="screen, projection" />
		<link rel="stylesheet" href="css/index1.css" />
		<script src="js/mui.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/vue.js"></script>

	</head>

	<body>
					
		
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll" >
				<div id="loading"><img src="img/loading2.gif"/></div>
				<div id="user" v-cloak >
				<div class="content">
					<div class="user_headbox">
							
						<div class="headbox_01" v-if="username" style="display: none;">
							
							<div class="user_tx och_person_infor" v-cloak><img v-bind:src="avatar"/></div>
							<h1 id="username" v-cloak>{{username}}</h1>
							<div class="signbox"  v-cloak>
								<img src="img/mrqd.png" />
								<p><span v-if="qd=='1'" v-cloak>已</span>签到</p>
							</div>
							<div class="load_on" v-cloak>
								<div class="line_pace"></div>
								<h2 id="zzc">{{kyye}}</h2>
								<h3>可用余额（元）</h3>
								<ul class="myzc">
									<li>
										<p id="kyye">{{zcze}}</p>
										<p>资产总额</p>
									</li>
									<!--<li>
										<p id="dsje">{{dsje}}</p>
										<p>待收金额</p>
									</li>-->
									<li>
										<p id="ljsy">{{ljsy}}</p>
										<p>累计收益</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="headbox_02" style="display: none;">
							<button class="user_log mui-btn-red och_login">立即登录</button>
							<button class="user_reg mui-btn-red och_user_reg1">快速注册</button>
						</div>
					</div>
						
					<div class="user_box_a">
						<div class="txcz">
							<h2 class="och_recharge">充值</h2>
							<h1 class="och_cash">提现</h1>
						</div>
						
						<ul class="user_li user_li_top">
							<li class="och_invite">
								<!--<h1 style="background-position: 0px -48px;"></h1>-->
								<img src="images/share.jpg" alt="" />
								<h2>邀请好友</h2>
								<!--<h3></h3>-->
								<!--<h4>已邀请<span>0</span>人</h4>-->
							</li>
							<li class="och_coupon_look">
								<!--<h1 style="background-position: 0px 0px;"></h1>-->
								<img src="images/zhanghu.jpg" alt="" />
								<h2>我的奖励</h2>
								<!--<h3></h3>-->
							</li>
							<li class="och_integration">
								<!--<h1 style="background-position: 0px 0px;"></h1>-->
								<img src="images/qiandao.jpg" alt="" />
								<h2>我的积分</h2>
								<!--<h3></h3>-->  
							</li>
							<!--<li onclick="och('page/pay_back.html','回款日历')">
					<h1 style="background-position: 0px -48px;"></h1>
					<h2>回款日历</h2>
					<h3></h3>
				</li>-->
							<!--<li class="och_hist_busin">
								<h1 style="background-position: 0px -144px;"></h1>
								<h2>交易记录</h2>
								<h3></h3>
							</li>-->

							<!--<li onclick="och('page/tengder_zd.html','自动投标')">
					<h1 style="background-position: 0px -144px;"></h1>
					<h2>自动投标</h2>
					<h3></h3>
				</li>-->
							
						</ul>
						<!--<ul class="user_li about_li">
				<li onclick="och('page/sign_polite.html','签到有礼',1)">
					<h1 style="background-position: 0px 3px;"></h1>
					<h2>签到有礼</h2>
					<h3></h3>
					<h4>已连续签到<span>35</span>天</h4>
				</li>
				<li onclick="och('page/invite.html','邀请好友',1)">
					<h1 style="background-position: 0px -42px;" ></h1>
					<h2>邀请好友</h2>
					<h3></h3>
					<h4>已邀请<span>0</span>人</h4>
				</li>
			</ul>-->
						<ul class="user_li user_li_bottom" style="margin-bottom: 0;">
							<li class="och_person_infor">
								<!--<h1 style="background-position: 0px 0px;"></h1>-->
								<img src="images/geren.png"/>
								<h2>个人中心</h2>
								<h3></h3>
							</li>
							<li class="och_my_invest">
								<!--<h1 style="background-position: 0px 0px;"></h1>-->
								<img src="images/my_touzi1.jpg" alt="" />
								<h2>我的投资</h2>
								<h3></h3>
							</li>
							<li class="och_hist_busin">
								<!--<h1 style="background-position: 0px -144px;"></h1>-->
								<img src="images/my_jiaoyi.jpg" alt="" />
								<h2>交易记录</h2>
								<h3></h3>
							</li>
							<li class="och_help_list">
								<!--<h1 style="background-position: 0px -144px;"></h1>-->
								<img src="images/my_help.jpg" alt="" />
								<h2>帮助中心</h2>
								<h3></h3>
							</li>
							<li class="och_custom">
								<!--<h1 style="background-position: 0px -205px;"></h1>-->
								<img src="images/my_kefu.png" alt="" />
								<h2>在线客服</h2>
								<h3></h3>
								<!--<h4 class="new_red">NEW</h4>-->
							</li>
							<li class="och_custom" >
								<!--<h1 style="background-position: 0px -230px;"></h1>-->
								<img src="images/my_idea.jpg" alt="" />
								<h2>意见反馈</h2>
								<h3></h3>
							</li>
							<li class="och_activity" >
								<!--<h1 style="background-position: 0px -230px;"></h1>-->
								<img src="images/my_more.jpg" alt="" />
								<h2>更多</h2>
								<h3></h3>
							</li>
							<!--<li onclick="osw('?jf_list','积分商城')">
					<h1 style="background-position: 0px -252px;"></h1>
					<h2>积分商城</h2>
					<h3></h3>
					<h4>3458分</h4>
				</li>-->
						</ul> 
						<!--<ul class="user_li  about_li">
							<li class="och_custom" >
								<h1 style="background-position: 0px -230px;"></h1>
								<h2>客服与反馈</h2>
								<h3></h3>
							</li>
						</ul>-->
					</div>
				</div>

				<!--没登陆-->
				<div class="user_box_b" style="display: none;margin-top: -20px;">
					<div class="txcz">
						<h1 class="och_load_zc" >提现</h1>
						<h2 class="och_load_zc" >充值</h2>
					</div>
					<ul class="user_li user_li_bottom" style="margin-bottom: 0;">
							<li class="och_my_invest">
								<!--<h1 style="background-position: 0px 0px;"></h1>-->
								<img src="images/geren.png"/>
								<h2>个人中心</h2>
								<h3></h3>
							</li>
							<li class="och_my_invest">
								<!--<h1 style="background-position: 0px 0px;"></h1>-->
								<img src="images/my_touzi1.jpg" alt="" />
								<h2>我的投资</h2>
								<h3></h3>
							</li>
							<li class="och_hist_busin">
								<!--<h1 style="background-position: 0px -144px;"></h1>-->
								<img src="images/my_jiaoyi.jpg" alt="" />
								<h2>交易记录</h2>
								<h3></h3>
							</li>
							<li class="och_help_list">
								<!--<h1 style="background-position: 0px -144px;"></h1>-->
								<img src="images/my_help.jpg" alt="" />
								<h2>帮助中心</h2>
								<h3></h3>
							</li>
							<li class="och_custom">
								<!--<h1 style="background-position: 0px -205px;"></h1>-->
								<img src="images/my_kefu.png" alt="" />
								<h2>在线客服</h2>
								<h3></h3>
								<!--<h4 class="new_red">NEW</h4>-->
							</li>
							<li class="och_custom" >
								<!--<h1 style="background-position: 0px -230px;"></h1>-->
								<img src="images/my_idea.jpg" alt="" />
								<h2>意见反馈</h2>
								<h3></h3>
							</li>
							<li class="och_activity" >
								<!--<h1 style="background-position: 0px -230px;"></h1>-->
								<img src="images/my_more.jpg" alt="" />
								<h2>更多</h2>
								<h3></h3>
							</li>
						</ul>
					<!--<ul class="user_li">-->
						<!--<li class="och_load_zc">
							<h1 style="background-position: 0px 0px;"></h1>
							<h2>我的投资</h2>
							<h3></h3>
						</li>-->
						<!--<li onclick="och('page/pay_back.html','回款日历')">
					<h1 style="background-position: 0px -48px;"></h1>
					<h2>回款日历</h2>
					<h3></h3>
				</li>-->
						<!--<li class="och_load_zc">
							<h1 style="background-position: 0px -144px;"></h1>
							<h2>交易记录</h2>
							<h3></h3>
						</li>-->
		
						<!--<li onclick="och('page/tengder_zd.html','自动投标')">
					<h1 style="background-position: 0px -144px;"></h1>
					<h2>自动投标</h2>
					<h3></h3>
				</li>-->
					<!--</ul>-->
					<!--<ul class="user_li about_li">
				<li onclick="och('page/sign_polite.html','签到有礼',1)">
					<h1 style="background-position: 0px 3px;"></h1>
					<h2>签到有礼</h2>
					<h3></h3>
					<h4>已连续签到<span>35</span>天</h4>
				</li>
				<li onclick="och('page/invite.html','邀请好友',1)">
					<h1 style="background-position: 0px -42px;" ></h1>
					<h2>邀请好友</h2>
					<h3></h3>
					<h4>已邀请<span>0</span>人</h4>
				</li>
			</ul>-->
					<!--<ul class="user_li"  style="margin-bottom: 0;">--> 
						<!--<li class="och_load_zc">-->
							<!--<h1 style="background-position: 0px -205px;"></h1>-->
							<!--<h2>红包与加息券</h2>-->
							<!--<h3></h3>-->
							<!--<h4 class="new_red">NEW</h4>-->
						<!--</li>-->
						
						<!--<li onclick="osw('?jf_list','积分商城')">
					<h1 style="background-position: 0px -252px;"></h1>
					<h2>积分商城</h2>
					<h3></h3>
					<h4>3458分</h4>
				</li>-->
					<!--</ul>
					<ul class="user_li  about_li">
						<li class="och_custom" >
							<h1 style="background-position: 0px -230px;"></h1>
							<h2>客服与反馈</h2>
							<h3></h3>
						</li>
					</ul>-->
				</div>
			<div style="margin-top: 10px;" class="tell dh_kf" v-cloak>
						<img src="images/kefudianhua.png" />
						<p  style="color: #000000;">客服电话：
							<a style="color: #000000;">400-101-2770</a>
						</p>
		    </div>
			</div>
			</div>
			
		</div>
		</div>
		     
		<div class="winbox cgzh_go">
				<div class="winbg"></div>
				<div class="win_cont">
					<h1>开通银行存管账户</h1>
					<h2>金刚金服账户升级，为保障您的资金安全，<br />请先开通恒丰银行存管账户</h2>
					<div class="ktnow">立即开通</div>
					<div class="ktno">暂不开通</div>
				</div>
			</div>
			<div class="winbox smrz_go">
				<div class="winbg wclose"></div>
				<div class="win_cont">
					<h1>实名认证</h1>
					<h2>因涉及充值提现投资等重要交易，<br />请先进行实名认证。</h2>
					<div class="ktnow och_certification" >立即认证</div>
					<div class="ktno wclose">暂不认证</div>
				</div>
			</div>
			<div class="winbox qdcg_go ">
				<div class="winbg winclose"></div>
				<div class="win_cont">
					<h1>签到成功</h1>
					<img src="img/qdcg.png" class="qdcgbg" />
					<h2>恭喜获得<span>10</span>积分</h2>
					<h3>我的积分：<span>0</span>分</h3>
					<button type="button" class="mui-btn-blue winclose">知道咯</button>
				</div>
			</div>
	
   

		<script src="js/common.js"></script>
		<script src="js/pagejs/users.js"></script>
		<script src="js/pagejs/down.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {
				plusReady();
				rinitweb();
			})
		</script>
	</body>

</html>